
<div align = center>
<h1> :. HEALTH TRACKER .: </h1><br><br>
<img src= "http://theinvisibleneighbors.com/wp-content/uploads/2015/01/Heart-health-graphic.jpg"><br><br>
<h3> An app used to store information on your weight, daily steps taken, calories consumed, and exercises performed.</h3>
=======================================================================================

<h2> :. Stats .: </h2>
-------------------<br><br>

- Your Current Weight: <br>
- Steps taken Today:  <br>
- Total Number of Calories Consumed Today: <br>
- Total Number of Exercises Today: <%= @total_today %> <br>
- Total Calories Burned Today: <%= @calories_today %> <br>
- Total Number of Exercises Ever: <%= @total %> <br><br><br>

=======================<br>
<%= link_to 'All Exercises', exercises_path %> |
<br>=======================
</div>
